<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title | default("Eleventy Site") }}</title>

  <!-- Load Tailwind -->
  <link href="/css/tailwind.css" rel="stylesheet" />

  <!-- Load Custom Styles -->
  <link href="/css/styles.css" rel="stylesheet" />
</head>
