<nav
  class="bg-thBase text-thText flex items-center justify-between px-6 py-4 shadow-lg"
>
  <!-- Logo + Nome -->
  <div class="flex items-center space-x-3">
    <img
      src="/assets/images/logo.jpg"
      alt="brasaweb logo"
      class="h-10 w-auto rounded-full"
    />
    <span class="text-2xl font-bold">brasaweb</span>
  </div>

  <!-- Placeholder Button -->
  <a
    href="https://linkedin.com/in/jmfantin"
    target="_blank"
    class="opacity-40 px-2 py-1 bg-gradient-to-br from-thPslPink to-thAccent rounded-lg hover:opacity-90 text-thBase transition"
  >
    Come back later
  </a>
</nav>
