---
title: Diretrizes e Cobrança de Serviços
layout: layout.njk
permalink: /diretrizes/
---

<main
  class="container max-w-full w-full px-6 md:px-24 lg:px-48 py-8 bg-thGrid text-justify"
>
  <h1
    class="text-3xl font-bold mb-6 text-transparent bg-clip-text bg-gradient-to-br from-[#cf73ac] to-thAccent"
  >
    Nossas Diretrizes
  </h1>

  <section class="mb-8">
    <h2
      class="text-2xl font-semibold mb-4 text-transparent bg-clip-text bg-gradient-to-br from-[#cf73ac] to-thAccent"
    >
      Serviços
    </h2>
    <p>
      Oferecemos soluções para todas as fases do ciclo de vida de aplicações,
      incluindo:
    </p>
    <ul class="list-disc pl-6 mt-2">
      <li><strong>Análise de processos</strong> de negócio</li>
      <li>Organização de <strong>informação digital</strong></li>
      <li>Gerenciamento de <strong>infraestrutura</strong></li>
      <li>Desenvolvimento de <strong>sites</strong></li>
      <li>Desenvolvimento de <strong>aplicativos</strong></li>
      <li><strong>Manutenção</strong> de sistemas</li>
    </ul>
    <p class="mt-4 mb-6">
      Utilizamos tecnologias como Eleventy e Next.js para desenvolvimento web.
      Aplicativos são desenvolvidos em Flutter para iOS e Android. Quanto a
      infraestrutura, trabalhamos com Vercel, Google Firebase e AWS, escolhendo
      a melhor solução conforme a complexidade do projeto.
    </p>
  </section>

  <section class="mb-8">
    <h2
      class="text-2xl font-semibold mb-4 text-transparent bg-clip-text bg-gradient-to-br from-[#cf73ac] to-thAccent"
    >
      Etapas do Processo
    </h2>
    <ul class="list-disc pl-6">
      <li>
        <strong>Levantamento de Requisitos:</strong> Identificamos as
        necessidades do negócio, definindo objetivos e funcionalidades
        essenciais para o projeto.
      </li>
      <li>
        <strong>Proposta e Implementação:</strong> Elaboramos uma proposta
        alinhada às expectativas, seguida pela implementação eficiente do
        projeto com foco na qualidade e no prazo.
      </li>
      <li>
        <strong>Lançamento e Correções:</strong> Após o lançamento, realizamos
        ajustes necessários para assegurar a performance e a satisfação contínua
        dos clientes.
      </li>
    </ul>
  </section>

  <section class="mb-8">
    <h2
      class="text-2xl font-semibold mb-4 text-transparent bg-clip-text bg-gradient-to-br from-[#cf73ac] to-thAccent"
    >
      Custos
    </h2>
    <p class="mt-4">
      O custo inicial de infraestrutura (hospedagem e banco de dados) e suporte
      para as funcionalidades implementadas é de R$ <strong>280/mês</strong>. O
      consumo de dados dos projetos é sempre otimizado para que seus custos
      permaneçam baixos, mesmo com o aumento do número de usuários e crescimento
      do volume de acesso.
    </p>
    <p class="mt-4">
      Durante o primeiro mês após a publicação do sistema o cliente fica isento
      desse custo, podendo acionar o desenvolvedor como achar melhor para
      realizar ajustes e correções. Após o prazo, o custo mensal permite 4 horas
      de trabalho do desenvolvedor encarregado do projeto para a manutenção de
      funcionalidades já existentes; horas adicionais ficam sujeitas a nova
      cobrança.
    </p>
    <p class="mt-4">
      Clientes com aplicativos iOS publicados pela Brasaweb dividem o valor da
      taxa anual de 99 dólares da licença Apple Developer. Nesse momento temos
      <strong>0</strong> clientes com aplicativos na AppStore.
    </p>
  </section>

  <section class="mb-8">
    <h2
      class="text-2xl font-semibold mb-4 text-transparent bg-clip-text bg-gradient-to-br from-[#cf73ac] to-thAccent"
    >
      Princípios
    </h2>
    <ul class="list-disc pl-6">
      <li>
        <strong>Acordo de não divulgação:</strong> Garantimos total
        confidencialidade, protegendo as informações estratégicas dos clientes.
      </li>
      <li>
        <strong>Cotações transparentes:</strong> Apresentamos orçamentos
        compreensíveis, baseados sempre no custo por funcionalidade. Dessa
        forma, os clientes podem reavaliar sobre o quanto investir em cada parte
        do projeto.
      </li>
      <li>
        <strong>Disponibilidade:</strong> Atendemos um número limitado de
        clientes para manter agilidade e eficiência nas entregas.
      </li>
      <li>
        <strong>Baixo acoplamento:</strong> Nossos sistemas são construídos de
        forma que possam ser passados adiante em caso de opção por novo
        prestador de serviços, aquisições ou surgimento de seus próprios
        departamentos de TI.
      </li>
    </ul>
  </section>
</main>
