---
title: 'brasaweb.com'
layout: layout.njk
permalink: 'index.html'
---

<!-- fullpage flameLoader lasts two seconds--->
{% include "flameLoader.njk" %}

<main class="bg-thGrid text-thText flex justify-center h-auto">
  <section class="text-center max-w-3xl p-6 pt-4 pb-16">
    <h1
      class="text-3xl leading-none pb-0 mb-0 font-bold text-center text-transparent bg-clip-text bg-gradient-to-br from-[#C477BC] via-[#C477BC] to-thAccent font-thBurtons"
    >
      <br />THE YEAR IS 2025
    </h1>
    <h1
      class="text-3xl md:text-5xl leading-none pb-0 mb-0 font-bold text-center text-transparent bg-clip-text bg-gradient-to-br from-[#C477BC] to-thAccent font-thBurtons"
    >
      <br />IT is affordable and<br />BETTER THAN EVER
    </h1>

    <div class="relative flex justify-center items-center">
      <div class="relative w-16 h-16">
        <!-- Main Flame -->
        <div
          class="absolute inset-0 w-full h-full bg-gradient-to-t from-orange-500 via-[#C477BC] to-transparent rounded-full blur-xl opacity-90 animate-flicker"
        ></div>

        <!-- Inner Glow -->
        <div
          class="absolute inset-0 w-10 h-10 bg-orange-400 rounded-full blur-md opacity-80 animate-flicker delay-100"
        ></div>

        <!-- Secondary Flickers -->
        <div
          class="absolute left-1/2 -translate-x-1/2 -top-2 w-6 h-6 bg-[#e9ab4e] rounded-full blur-lg opacity-80 animate-flicker delay-200"
        ></div>
        <div
          class="absolute left-1/3 -translate-x-1/2 -top-4 w-4 h-4 bg-[#C477BC] rounded-full blur-lg opacity-70 animate-flicker delay-300"
        ></div>
      </div>
    </div>

    <p class="pt-8 text-lg opacity-80">
      We're currently running on stealth mode.
    </p>
  </section>
</main>
